SERVER_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_URL=
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
JWT_EXPIRATION=
REDIS_HOST=
REDIS_PORT=
MAIL_HOST=
MAIL_PORT=
STUCK_ORDER_INTERVAL_MS=
STUCK_ORDER_THRESHOLD_HOURS=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
